.navbar
    .navbar-inner
        a.brand(href='/') #{title}
        ul.nav
          li
            a(href='/') Home
        ul.nav.pull-right#main-menu-right    
          li
            a(href='/login') Log In!
